version: "3.8"

services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    volumes:
      - ./mosquitto/config:/mosquitto/config:rw
      - ./mosquitto/data:/mosquitto/data
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - iot-net

  node-red:
    image: nodered/node-red:latest
    container_name: node-red
    restart: unless-stopped
    volumes:
      - ./node-red:/data
    environment:
      - TZ=America/Bogota
    ports:
      - "1880:1880"
    depends_on:
      - mosquitto
    networks:
      - iot-net

  influxdb:
    image: influxdb:2.6
    container_name: influxdb
    restart: unless-stopped
    environment:
      - INFLUXDB_INIT_MODE=setup
      - INFLUXDB_INIT_USERNAME=admin
      - INFLUXDB_INIT_PASSWORD=adminpass
      - INFLUXDB_INIT_ORG=packml-org
      - INFLUXDB_INIT_BUCKET=packml-bucket
      - INFLUXDB_INIT_ADMIN_TOKEN=verysecrettoken
    volumes:
      - ./influxdb:/var/lib/influxdb2
    ports:
      - "8086:8086"
    networks:
      - iot-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./grafana:/var/lib/grafana
    depends_on:
      - influxdb
    networks:
      - iot-net

  simulator:
    image: ghcr.io/libremfg/packml-simulator:latest
    container_name: packml-simulator
    environment:
      - MQTT_URL=mqtt://mosquitto:1883
      - SITE=DefaultSite
      - AREA=DefaultArea
      - LINE=DefaultProductionLine
    networks:
      - iot-net
    depends_on:
      - mosquitto

networks:
  iot-net:
    driver: bridge
